# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Database
*.db
*.sqlite3

# Temp files
temp_*/
*.session

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Local development
.cache/
